on:
  push:
    branches:
      - main
  pull_request:
    types:
      - closed
name: 游 Nahra콘 na FTP
jobs:
  web-deploy:
    name: 游 Nahra콘 na FTP server - FOREX
    runs-on: ubuntu-latest

    steps:
      - name: 游뚴 Checkout repozit치ra
        uses: actions/checkout@v2

      - name: Pou쬴콘 Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: 游댣 NPM RUN BUILD
        run: |
          cd client
          npm install --force
          npm run build:forex

      - name: 游늭 NAHRA콗 NA FTP SERVER
        uses: SamKirkland/FTP-Deploy-Action@4.3.3
        with:
          server: forexporadenstvo.sk
          username: ftp.forexporadenstvo.sk
          password: Oz2P]7LU}|
          local-dir: ./client/build/
          server-dir: forexporadenstvo.sk/web/
          port: 21
          protocol: ftp
          timeout: 1000000
