on:
  push:
    branches:
      - main
  pull_request:
    types:
      - closed
name: CI/CD Pipeline 游
jobs:
  web-deploy:
    name: 游 Nahra콘 na FTP server
    runs-on: ubuntu-latest
    steps:
      - name: 游닌 Stiahnu콘 repozit치r
        uses: actions/checkout@v2

      - name: Pou쬴콘 Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: 游닍 Nain코talova콘 NPM bal칤캜ky
        run: npm install --force

      - name: 游 Zbali콘 Forex projekt
        run: npm run build:forex

      - name: 游닋 Nahra콘 na FTP server
        uses: SamKirkland/FTP-Deploy-Action@4.3.2
        with:
          server: forexporadenstvo.sk
          username: ftp.forexporadenstvo.sk
          password: ${{secrets.FTP_PASSWORD_FOREX}}
          local-dir: ./build/
          server-dir: forexporadenstvo.sk/web/
          log-level: verbose
          port: 21
          protocol: ftp
          timeout: 100000

      - name: 游 Zbali콘 St치vky projekt
        run: npm run build:stavkove

      - name: 游닋 Nahra콘 na FTP server
        uses: SamKirkland/FTP-Deploy-Action@4.3.2
        with:
          server: stavkoveporadenstvo.sk
          username: ftp.stavkoveporadenstvo.sk
          password: ${{secrets.FTP_PASSWORD_STAVKY}}
          local-dir: ./build/
          server-dir: stavkoveporadenstvo.sk/web/
          log-level: verbose
          port: 21
          protocol: ftp
          timeout: 100000
